#define IDM_FILE 10001
#define IDM_VIEW 10004
#define IDD_DLG1 1000
#define IDC_VID1 1002
#define IDR_MENU 10000
#define IDM_FILE_OPEN 10002
#define IDM_FILE_EXIT 10003
#define IDM_VIEW_BAR 10005
#define IDM_VIEW_ASPECT 10006
#define IDM_VIEW_REPEAT 10007
#define IDM_VIEW_STOP 10008
IDD_DLG1 DIALOGEX 6,5,194,132
CAPTION "FreeBASIC video player"
FONT 8,"MS Sans Serif",400,0
MENU IDR_MENU
STYLE 0x16CF0800
BEGIN
  CONTROL "IDC_VID",IDC_VID1,"FBEVIDEO",0x56000006,2,1,192,129,0x00000200
END
IDR_MENU MENUEX
BEGIN
  POPUP "&File",10001
  BEGIN
    MENUITEM "&Open",IDM_FILE_OPEN
    MENUITEM "",,0x00000800
    MENUITEM "&Exit",IDM_FILE_EXIT
  END
  POPUP "&View",10004
  BEGIN
    MENUITEM "&Play bar",IDM_VIEW_BAR
    MENUITEM "&Keep aspect",IDM_VIEW_ASPECT
    MENUITEM "&Repeat",IDM_VIEW_REPEAT
    MENUITEM "&Stop",IDM_VIEW_STOP
  END
END
