#define IDB_TOOLBAR 100
#define IDB_MNUARROW 101
#define IDB_MENUCHECK 102
IDB_TOOLBAR BITMAP DISCARDABLE "Res/Toolbar.bmp"
IDB_MNUARROW BITMAP DISCARDABLE "Res/MnuArrow.bmp"
IDB_MENUCHECK BITMAP DISCARDABLE "Res/Check.bmp"
