#define IDR_VERSION 1
#define IDB_QUICKRUN 100
IDR_VERSION VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000000
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF0000"
    BEGIN
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "ProductVersion", "1.0.0.0\0"
      VALUE "FileDescription", "Advanced edit commands\0"
      VALUE "LegalCopyright", "KetilO (C) 2007\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x0000
  END
END
IDB_QUICKRUN BITMAP DISCARDABLE "Res/QuickRun.bmp"
