
#define IDD_DLGREALLYRAD 1000
#define IDC_STCFILE 1003
#define IDC_CBOFILE 1001
#define IDC_STCTEMPLATE 1004
#define IDC_CBOTEMPLATE 1002
#define IDC_STCPROCNAME 1005
#define IDC_EDTPROCNAME 1006
#define IDC_STCDESCRIPTION 1007

#define IDD_DLGREALLYRADCTRL 1100
#define IDC_STC2 1101
#define IDC_EDTPROCNAMECTRL 1102
#define IDC_STC1 1103

IDD_DLGREALLYRAD DIALOGEX 6,6,194,106
CAPTION "Really RAD"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10CC0080
EXSTYLE 0x00000001
BEGIN
  CONTROL "File:",IDC_STCFILE,"Static",0x50000000,2,5,46,11
  CONTROL "",IDC_CBOFILE,"ComboBox",0x50010003,54,3,138,74
  CONTROL "Template:",IDC_STCTEMPLATE,"Static",0x50000000,2,24,46,11
  CONTROL "",IDC_CBOTEMPLATE,"ComboBox",0x50010003,54,22,138,74
  CONTROL "ProcName:",IDC_STCPROCNAME,"Static",0x50000000,2,42,46,11
  CONTROL "",IDC_EDTPROCNAME,"Edit",0x50010000,54,40,138,13,0x00000200
  CONTROL "Cancel",2,"Button",0x50010000,80,92,54,13
  CONTROL "OK",1,"Button",0x50010000,138,92,54,13
  CONTROL "",IDC_STCDESCRIPTION,"Static",0x50001001,2,57,190,28
END

IDD_DLGREALLYRADCTRL DIALOGEX 6,5,194,70
CAPTION "Really RAD"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10C80080
EXSTYLE 0x00000001
BEGIN
  CONTROL "ProcName:",IDC_STC2,"Static",0x50000000,2,3,46,11
  CONTROL "",IDC_EDTPROCNAMECTRL,"Edit",0x50010000,54,1,138,13,0x00000200
  CONTROL "To be able to jump to code on control doubleclick you must specify the dialogproc to jump to.",IDC_STC1,"Static",0x50001001,2,18,190,28
  CONTROL "Cancel",2,"Button",0x50010000,80,53,54,13
  CONTROL "OK",1,"Button",0x50010000,138,53,54,13
END

