#define IDD_DLG1 1000
#define IDC_BTN1 1001
#define IDC_TBR1 1002
#define IDB_TOOLBAR 100
IDD_DLG1 DIALOGEX 6,5,194,107
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",400,0
STYLE 0x16CE0800
BEGIN
  CONTROL "Click me",IDC_BTN1,"Button",0x56010000,126,83,64,19
  CONTROL "",IDC_TBR1,"ToolbarWindow32",0x56000001,0,0,194,17
END
IDB_TOOLBAR BITMAP DISCARDABLE "Res/Toolbar.bmp"
