#define IDD_DLG00 1000
#define IDD_TAB00 1100
#define IDD_TAB01 1101
#define IDC_LSV01 1201
#define IDD_TAB02 1102
#define IDC_LSV02 1202
#define IDD_TAB03 1103
#define IDC_LSV03 1203
#define IDD_TAB04 1104
#define IDC_LSV04 1204
#define IDD_TAB05 1105
#define IDC_LSV05 1205
#define IDD_TAB06 1106
#define IDC_LSV06 1206
#define IDD_TAB07 1107
#define IDC_RBN00 1300
#define IDC_RBN01 1301
#define IDC_RBN02 1302
#define IDC_RBN03 1303
#define IDC_RBN04 1304
#define IDC_RBN05 1305
#define IDC_RBN06 1306
#define IDB_TAB0 100
#define IDB_TAB1 101
#define IDB_TAB2 102
#define IDB_TAB3 103
#define IDB_TAB4 104
#define IDB_TAB5 105
#define IDB_TAB6 106
#define IDB_TABS 999
#define ShowVars 1
IDD_DLG00 DIALOGEX 0,0,165,121
CAPTION "ShowVars"
FONT 9,"Courier New",400,0
STYLE 0x06840800
EXSTYLE 0x00000088
BEGIN
END
IDD_TAB00 DIALOGEX 0,0,163,101
FONT 9,"Courier New",400,0
STYLE 0x46000400
BEGIN
  CONTROL "#100",-1,"Static",0x5000000E,0,0,9,67
  CONTROL "#999",-1,"Static",0x5000000E,0,58,8,288
END
IDD_TAB01 DIALOGEX 0,0,163,101
FONT 9,"Courier New",400,0
STYLE 0x46000400
BEGIN
  CONTROL "",IDC_LSV01,"SysListView32",0x50018001,10,0,152,101,0x00020000
  CONTROL "#101",-1,"Static",0x5000000E,0,0,9,67
  CONTROL "#999",-1,"Static",0x5000000E,0,58,8,288
END
IDD_TAB02 DIALOGEX 0,0,163,101
FONT 9,"Courier New",400,0
STYLE 0x46000400
BEGIN
  CONTROL "",IDC_LSV02,"SysListView32",0x50018001,10,0,152,101,0x00020000
  CONTROL "#102",-1,"Static",0x5000000E,0,0,9,67
  CONTROL "#999",-1,"Static",0x5000000E,0,58,8,288
END
IDD_TAB03 DIALOGEX 0,0,163,101
FONT 9,"Courier New",400,0
STYLE 0x46000400
BEGIN
  CONTROL "",IDC_LSV03,"SysListView32",0x50018001,10,0,152,101,0x00020000
  CONTROL "#103",-1,"Static",0x5000000E,0,0,9,67
  CONTROL "#999",-1,"Static",0x5000000E,0,58,8,288
END
IDD_TAB04 DIALOGEX 0,0,163,101
FONT 9,"Courier New",400,0
STYLE 0x46000400
BEGIN
  CONTROL "",IDC_LSV04,"SysListView32",0x50018001,10,0,152,101,0x00020000
  CONTROL "#104",-1,"Static",0x5000000E,0,0,9,67
  CONTROL "#999",-1,"Static",0x5000000E,0,58,8,288
END
IDD_TAB05 DIALOGEX 0,0,163,101
FONT 9,"Courier New",400,0
STYLE 0x46000400
BEGIN
  CONTROL "",IDC_LSV05,"SysListView32",0x50018001,10,0,152,101,0x00020000
  CONTROL "#105",-1,"Static",0x5000000E,0,0,9,67
  CONTROL "#999",-1,"Static",0x5000000E,0,58,8,288
END
IDD_TAB06 DIALOGEX 0,0,163,101
FONT 9,"Courier New",400,0
STYLE 0x46000400
BEGIN
  CONTROL "",IDC_LSV06,"SysListView32",0x50018001,10,0,152,101,0x00020000
  CONTROL "#106",-1,"Static",0x5000000E,0,0,9,67
  CONTROL "#999",-1,"Static",0x5000000E,0,58,8,288
END
IDD_TAB07 DIALOGEX 0,0,8,62
FONT 9,"Courier New",400,0
STYLE 0x46000400
BEGIN
  CONTROL "",IDC_RBN00,"Button",0x50010009,0,2,8,8
  CONTROL "",IDC_RBN01,"Button",0x50010009,0,10,8,8
  CONTROL "",IDC_RBN02,"Button",0x50010009,0,19,8,8
  CONTROL "",IDC_RBN03,"Button",0x50010009,0,27,8,8
  CONTROL "",IDC_RBN04,"Button",0x50010009,0,36,8,8
  CONTROL "",IDC_RBN05,"Button",0x50010009,0,44,8,8
  CONTROL "",IDC_RBN06,"Button",0x50010009,0,53,8,8
END
IDB_TAB0 BITMAP DISCARDABLE "Res/output_1.bmp"
IDB_TAB1 BITMAP DISCARDABLE "Res/vars_1.bmp"
IDB_TAB2 BITMAP DISCARDABLE "Res/floats_1.bmp"
IDB_TAB3 BITMAP DISCARDABLE "Res/strings_1.bmp"
IDB_TAB4 BITMAP DISCARDABLE "Res/memory_1.bmp"
IDB_TAB5 BITMAP DISCARDABLE "Res/disassembler_1.bmp"
IDB_TAB6 BITMAP DISCARDABLE "Res/logs_1.bmp"
IDB_TABS BITMAP DISCARDABLE "Res/clear_1.bmp"
ShowVars VERSIONINFO
FILEVERSION 0,0,5,1
PRODUCTVERSION 0,0,5,1
FILEOS 0x00000004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF0000"
    BEGIN
      VALUE "FileVersion", "0.0.5.1\0"
      VALUE "ProductVersion", "0.0.5.1\0"
      VALUE "InternalName", "ShowVars\0"
      VALUE "LegalCopyright", "Denise Amiga (C) 2007\0"
      VALUE "LegalTrademarks", "Denise Amiga (C) 2007\0"
      VALUE "OriginalFilename", "fbShowVars.dll\0"
      VALUE "FileDescription", "Mini Debug\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x0000
  END
END
